.wrapper {
  width: 600px;
  margin: 0 auto;
}

.header {
  width: 600px;
  margin: 10px auto;
  text-align: center;
}

.sketchpad {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.square {
  display: inline-block;
}

.highlight {
  background-color: black;
}
