* {
  border: 1px solid black;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.header {
  width: 600px;
  margin: 10px auto;
  text-align: center;
}

.sketchpad {
  width: 600px;
  height: 600px;
  margin: auto;
}

.square {
  height: auto;
  width: auto;
  margin: 1px;
  display: inline-block;
}
